USE [master]
GO
/****** Object:  Database [RESPONSI]    Script Date: 01/06/2023 09:26:10 ******/
CREATE DATABASE [RESPONSI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESPONSI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RESPONSI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RESPONSI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RESPONSI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RESPONSI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RESPONSI]
GO
/****** Object:  Table [dbo].[JUAL]    Script Date: 01/06/2023 09:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUAL](
	[NoFaktur] [int] NOT NULL,
	[NoProduk] [int] NOT NULL,
	[TglFaktur] [datetime] NOT NULL,
	[Jumlah] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [CIX_JUAL]    Script Date: 01/06/2023 09:26:10 ******/
CREATE UNIQUE CLUSTERED INDEX [CIX_JUAL] ON [dbo].[JUAL]
(
	[NoFaktur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUK]    Script Date: 01/06/2023 09:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUK](
	[NoProduk] [int] NOT NULL,
	[NamaProduk] [varchar](50) NOT NULL,
	[Kategori] [varchar](50) NOT NULL,
	[Warna] [varchar](50) NOT NULL,
	[Stok] [int] NOT NULL,
	[StokMin] [int] NOT NULL,
	[HargaPokok] [int] NOT NULL,
	[HargaJual] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [CIX_PRODUK]    Script Date: 01/06/2023 09:26:10 ******/
CREATE UNIQUE CLUSTERED INDEX [CIX_PRODUK] ON [dbo].[PRODUK]
(
	[NoProduk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NIX_NoProduk]    Script Date: 01/06/2023 09:26:10 ******/
CREATE NONCLUSTERED INDEX [NIX_NoProduk] ON [dbo].[JUAL]
(
	[NoProduk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NIX_Kategori]    Script Date: 01/06/2023 09:26:10 ******/
CREATE NONCLUSTERED INDEX [NIX_Kategori] ON [dbo].[PRODUK]
(
	[Kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[produkTerjual]    Script Date: 01/06/2023 09:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Arynda Anna Salsabiela>
-- Create date: <Kamis, 1 Juni 2023>
-- Description:	<Menampilkan data produk terjual (NoProduk, NamaProduk, Jumlah Terjual) 
--				per masing-masing Produk berdasarkan inputan periode waktu tertentu>
-- =============================================
CREATE PROCEDURE [dbo].[produkTerjual]
	@bulan int
AS
BEGIN
	SELECT P.NoProduk, P.NamaProduk, SUM(J.Jumlah) AS 'Jumlah Produk Terjual'
	FROM PRODUK P, JUAL J
	WHERE P.NoProduk = J.NoProduk AND MONTH(J.TglFaktur) = @bulan
	GROUP BY P.NoProduk, NamaProduk
END
GO
/****** Object:  StoredProcedure [dbo].[updPerWaktu]    Script Date: 01/06/2023 09:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author	  :	<Arynda Anna Salsabiela>
-- Create date: <Kamis, 1 Juni 2023>
-- Description:	<Menampilkan periode waktu (bulan/tahun), total pendapatan, dan total laba per bulan>
-- =============================================
CREATE PROCEDURE [dbo].[updPerWaktu]
	@start DATETIME, @end DATETIME
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
		MONTH(J.TglFaktur) AS Bulan,
		SUM(J.Jumlah * P.HargaJual) AS TotalPendapatan,
		SUM(J.Jumlah * (P.HargaJual - P.HargaPokok)) AS TotalLaba

	FROM JUAL J 
	INNER JOIN PRODUK P ON J.NoProduk = P.NoProduk
	WHERE J.TglFaktur >= @start AND J.TglFaktur <= @end
	GROUP BY MONTH(J.TglFaktur)
	ORDER BY MONTH(J.TglFaktur)
END
GO
USE [master]
GO
